name: Build and Publish JAR

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: '17'

    - name: Build with Maven
      run: mvn package

    - name: Publish JAR
      uses: actions/upload-artifact@v2
      with:
        name: HasiCraft-Discord-Bot-V3
        path: ./target/hasicraft-discord-bot-SNAPSHOT-V3.0.jar
